[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Noah Baxter
	email = noah.baxter@mail.mcgill.ca
[alias]
	c = commit
	st = status
	
